<div class="todo-container">
  <div class="todo-form">
    <input 
      type="text" 
      [(ngModel)]="tituloInput" 
      placeholder="Digite a tarefa"
    />
    <button (click)="salvarTodo()">
      {{ todoEditando ? 'Salvar' : 'Adicionar' }}
    </button>
  </div>

  <div class="todo-buttons">
    <button class="toggle-button" (click)="toggleCompletedTasks()">
      {{ showCompletedTasks ? 'Ocultar Tarefas Concluídas' : 'Exibir Tarefas Concluídas' }}
    </button>
    <button (click)="clearCompletedTasks()">Limpar Tarefas Concluídas</button>
    <button (click)="clearAll()" [innerHTML]="labelClearAll"></button>
    <button (click)="ordenarPorTituloAZ()">Ordenar Tarefas de A a Z</button>
  </div>

  <div class="todo-list_container">
    <div class="todo-list_todo">
      <app-todo-item
        *ngFor="let todo of todos"
        [todo]="todo"
        (editTodo)="editarTodo($event)"
      ></app-todo-item>
    </div>
  </div>
</div>